/* @import url ("utils/a11y");
@import url ("vendor/reset"); */

body {
  background-color: rgb(22 2 50);
  color: white;
  font-family: Tahoma, sans-serif;
  font-size: 0.8rem;
  line-height: 24px;
  font-weight: 400;
  margin-block: 20px;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

main {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
 
h1 {
  font-family: 'Fredoka One', sans-serif;
  font-size: 2.4rem;
  display: block;
  color:rgb(239 28 183);
  padding: 35px;
  text-align: center;
}

.frontPage {
  
}

.startGamePage {
  display: block;
}

#categoryContainer {
  display: block;
  margin-left: 1rem;
}

#categoryText {        
  font-size: 1.6rem;
  margin-top: 2.0rem;
  margin-bottom: 0.4rem;
  display: block;
  text-align: center;
}

#questionText {        
  font-size: 1.6rem;
  margin-top: 2.0rem;
  margin-left: 1.4rem;
  margin-bottom: 0.4rem;
  display: block;
  text-align: center;
  width: 80%;
  height: 4rem;
  padding: 1rem;
}

.questionPage {
  display: block;
  margin-top: 4rem;  
}

#questionContainer {
  margin-top: 4rem;
  display: block;  
}

#choice1, #choice2, #choice3 {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  width: 7rem;
  height: 8rem;
  background-color: rgb(22 2 50);
  border-color: white;
  color: white;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

#showChoice {
  font-family: 'Fredoka One', sans-serif;
  font-size: 4rem;
  display: block;
  color:rgb(28 239 35);
  margin-top: 0.2rem;
  margin-bottom: 3rem;
  padding: 2rem;
  text-align: center;
}

#player {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 1.4rem;
  justify-content: center;
  font-size: 1.6rem;
}

#playerInput {
  font-size: 1.4rem;
  margin-top: 1rem;  
  display: block;  
}

.timeContainer {
  font-size: 1rem;
  margin-left: 2rem;
  display: block;
}

#startGameBtn, #nextQuestBtn {  
  background-color: rgb(239 28 183);
  margin-top: 4rem;
  margin-left: 6.5rem;
  margin-bottom: 6rem;
  font-size: 1.4rem;
  width: 10rem;
  height: 3rem;
  border-radius: 4px; 
  text-align: center;
  display: flex;
  cursor: pointer;
  padding: 10px;
}

#resultBtn {
  display: none;
  background-color: rgb(239 28 183);
  margin-top: 4rem;
  margin-left: 6.5rem;
  margin-bottom: 6rem;
  font-size: 1.4rem;
  width: 10rem;
  height: 3rem;
  border-radius: 4px; 
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

#restartGameBtn {
  background-color: rgb(239 28 183);
  margin-top: 3rem;
  margin-left: 2.0rem;
  font-size: 1.4rem;
  width: 9rem;
  height: 3rem;
  border-radius: 4px; 
  text-align: center;
  display: flex;
  cursor: pointer;
  padding: 10px;
}

#gameOver {
  margin-top: 6rem;
  margin-left: 1.6rem;
  font-size: 1.8rem;
  width: 15rem;
  height: 6rem;
  color: white;
  text-align: center;
}

#answerContainer {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  padding: auto;
}

#answer1, #answer2, #answer3 {
  margin-top: 1.5rem;
  margin-left: 2.0rem;
  font-size: 1.4rem;
  width: 20rem;
  height: 3rem;
  background-color: rgb(22 2 50);
  border-color: white;
  color: white;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  //justify-content: center;
  //flex-direction: row;
}

.hidden {
  display: none;
}

#pointsContainer {
  font-size: 2rem;
  color: yellow;
}

/*
:root {
  // TODO: Går bra att radera kod även här!
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}



.app {
  margin-block: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-around;

  .card {
    $card-size: 250px;
    width: 0.6413 * $card-size;
    height: $card-size;
    cursor: pointer;
    background: #102a3f;
    border-radius: 8px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);

    .front {
      font-size: rem(50px);
    }

    .back {
      display: none;
    }

    &.visible {
      .front {
        display: none;
      }

      .back {
        display: block;
      }
    }
  }
} */